@import 'base/variables';
@import 'base/mixins';

.container {
    margin: 0 auto;
    width: 345px;
}

.button {
    padding: 17.5px 0;
    display: block;
    color: #fff;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    width: 345px;
    height: 56px;
    background: $main-color;
    border-radius: 60px;
    border: 0;
    cursor: pointer;
    &_login {
        margin-top: 100px;
    }
}

a {
    text-decoration: none;
    border: none;
}

@import 'blocks/header';

@import 'blocks/crewwww';
@import 'blocks/register';
