@import 'base/variables';
@import 'base/mixins';

.container {
    margin: 0 auto;
    width: 345px;
}

.button {
    padding: 17.5px 0;
    display: block;
    color: #fff;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    width: 345px;
    height: 56px;
    background: $main-color;
    border-radius: 60px;
    border: 0;
    cursor: pointer;
    &_24 {
        margin-top: 24px;
    }
    &_login {
        margin-top: 100px;
    }
    &_event {
        margin-top: 122px;
    }
}

.item__input {
    margin-top: 8px;
    border: none;
    border-bottom: 1px solid #979797;
    height: 27px;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
}

.switch {
    position: relative;
    display: inline-block;
    width: 71px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: $main-color;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    padding-left: 7px;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px $main-color;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
    font-family: 'Roboto';
    text-align: right;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    padding-left: 7px;
    padding-right: 7px;
    -webkit-touch-callout: none; 
  -webkit-user-select: none;  
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;
}
  
.slider.round:before {
    border-radius: 50%;
}

a {
    text-decoration: none;
    border: none;
}

@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/footer';

@import 'blocks/crewwww';
@import 'blocks/register';
@import 'blocks/edit';
@import 'blocks/modal';
@import 'blocks/profile';
@import 'blocks/events';
@import 'blocks/event';