@mixin back_triangle {
    &::before {
        content: url('../images/Back.png');
        position: absolute;
        display: inline-block;
        left: 0;
        top: 14px;
    }
}

@mixin back_triangle_white {
    &::before {
        content: url('../images/Back_white.svg');
        position: absolute;
        display: inline-block;
        left: 0;
        top: 10px;
    }
}

@mixin back_cross {
    &::before {
        content: url('../icons/cross.svg');
        position: absolute;
        display: inline-block;
        left: 0;
        top: 14px;
    }
}