.login {
    height: 100vh;
    background-image: url('../images/login__bg.jpg');
    background-size: cover;
    padding: 223px 0 50px;
    &__title {
        font-family: 'Century Gothic';
        font-size: 73px;
        line-height: 90px;
        font-weight: 700;
        letter-spacing: -3.052px;
        color: #fff;
    }
    &__bottom {
        margin-top: 40px;
        font-family: 'Nunito';
        font-size: 18px;
        text-align: center;
        color: #fff;
    }
    &__links {
        margin: 24px 20.5px 0;
        display: flex;
        justify-content: space-between;
    }
    &__img {
        margin-top: 30px;
    }
    &__form {
        margin-top: 30px;
        &__input {
            width: 301px;
            color: #666666;
            font-family: 'Nunito';
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__password {
        width: 301px;
        margin: 0 auto;
        text-align: left;
        input.item__input {
            width: calc(100% - 28px);
        }
        label.item__input {
            display: inline-block;
            height: 30px;
        }
    }
    &__alt {
        margin-top: 30px;
        &__text {
            font-family: 'Nunito';
            font-style: italic;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #666666;
        }
        &__links {
            margin: 24px auto 0;
            width: 150px;
            display: flex;
            justify-content: space-between;
        }
    }
    &__forgot {
        margin-top: 10px;
        color: #666666;
        font-family: 'Nunito';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
}
