.footer {
    position: fixed;
    background: url('../images/footer.svg');
    width: inherit;
    max-width: 535px;
    height: 73px;
    padding: 19px 50px 24px;
    // bottom: -1px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 100;
    background-position: center;
    background-size: contain;

    width: 375px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    &_button {
        padding: 0;
        width: 23px;
        background: transparent;
        border: none;
        display: flex;
        align-items: flex-start;
        img {
            width: 23px;
            // height: 33px;
            object-fit: cover;
        }
    }
    &__img {
        filter: drop-shadow(0px 0px 5px rgba(243, 111, 59, 0.5));
    }
    &__left {

    }
    &__plus {
        background: transparent;
        border: none;
        margin-top: -50px;
        cursor: pointer;
    }
    &__right {
        background: transparent;
        border: none;
        height: 34px;
    }
}