.header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_events {
        padding-top: 67px;
    }
    &__title_events {
        color: $main-color;
        font-size: 36px;
        font-family: 'Nunito';
        font-weight: 800;
    }
    &_reg {
        justify-content: left;
    }
    &__title {
        color: $main-color;
        font-size: 36px;
        font-family: 'Nunito';
        font-weight: 800;
        @include back_triangle;
        position: relative;
        padding-left: 34px;
    }
    &__right {
        color: $main-color;
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 18px;

    }
}