.title {
    &_black {
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #34495E;
        text-align: left;
    }
    &_grey {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.3);
        text-align: left;
    }
}